extends layout.pug

block hero
    section.hero.is-dark.is-bold
        .hero-body
            .container
                h1.title Nodepop
                h2.subtitle Venta de artículos de segunda mano
block content
    .container(style="flex: 1; padding: 50px 0;")
        .columns.is-multiline
            each anuncio in anuncios
                .column.is-one-quarter
                    .card
                        .card-image
                            figure.image(style="height: 500px; background-color: lightgray; object-fit: cover")
                                img(src=anuncio.foto style="height: 100%; object-fit: cover")
                        .card-content
                          strong= anuncio.nombre
                          p= `${anuncio.precio} €`
                          if anuncio.venta
                            p(style="color: #00CC00") Se vende
                          else
                            p(style="color: #FC4402") Se busca
                          article(style="font-size: .9rem")= anuncio.tags